## Hello Again!

In [ ]:
print("Hello World!")

Hello World!

## Varibales!

In [ ]:
a = 10
b = 12

print(a + b)

22

In [ ]:
name = "Md Hasibul Hasan"
address = "Dhaka, Bangladesh"

print(name, '\n', address)

Md Hasibul Hasan
 Dhaka, Bangladesh

## Data Type

**Integer:** 10

**Float:** 3.5

**String:** "Such a lovely day"

## User input!

In [ ]:
first_number = 10
# Every keyboard input is a string. we need to type cast them to required data type
second_number = int(input("Enter a number "))

print("Sum:", first_number + second_number)

Enter a number 13
Sum: 23

## Operators

**Arithmatic:** +,-,*,/

**Comparison:** >, >=, <, <=, =

**Logical:** AND, OR, NOT

## Conditional Statement

In [ ]:
age = int(input("Enter your Age: "))

if age >= 30:
  print("Senior")
else:
  print("Junior")

Enter your Age: 36
Senior

## Loop

### For Loop

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# range (start, end, step)
# start is inclusive but end is exlusive
for i in range(1, 16, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# print only even numbers
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# print only odd numbers
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# printing sum of series
sum = 0
for i in range(1,11):
  sum += i

print(sum)

55

In [ ]:
# printing sum of odd numbers only
sum = 0
for i in range(1,11,2):
  sum += i

print(sum)

25

In [ ]:
# printing sum of odd numbers only
sum = 0
for i in range(11):
  if i%2 == 0:
    # continue means keep continue but do nothing
    continue
  else:
    sum += i

print(sum)

25

### While Loop

In [ ]:
sum = 0
i = 0
while i < 11:
  sum += i
  i += 1

print(sum)

55

In [ ]:
sum = 0
i = 0
while i < 11:
  if i%2== 0:
    i+= 1 # skipping this condition will result in an infinite loop
    continue
  else:
    sum += i
  i += 1

print(sum)

25

In [2]:
fruits = ['Mango', 'Banana', 'Apple']

for fruit in fruits:
  print(fruit)

Mango
Banana
Apple

## Function

In [6]:
def add_func(a, b):
  return a+b

def sub_func(a, b):
  return a-b

def prod_func(a,b):
  return a*b

def div_func(a,b):
  if b>0:
    return a/b
  else:
    return "Zero Division Error!"


sum = add_func(10,7)
print("Addition:", sum)

sub = sub_func(5,10)
print("Subtraction:", sub)

mult = prod_func(5,6)
print("Product:",mult)

div = div_func(10,0)
print("Division:", div)

Addition: 17
Subtraction: -5
Product: 30
Division: Zero Division Error!